<div class="usa-footer-primary-section">
    <div class="usa-grid-full">
        <nav class="usa-footer-nav">
            <ul class="usa-unstyled-list footerLinks" style="text-align: center; margin: auto">
                <li class="usa-footer-primary-content"> <a class="usa-footer-primary-link" href="#" target="_blank">BOSS</a></li>
                <li class="usa-footer-primary-content"> <a class="usa-footer-primary-link" href="#" target="_blank">U.S. Forest Service</a></li>
                <li class="usa-footer-primary-content"> <a class="usa-footer-primary-link" href="#" target="_blank">USDA.gov</a></li>
                <li class="usa-footer-primary-content"> <a class="usa-footer-primary-link" href="#" target="_blank">FIA</a></li>
                <li class="usa-footer-primary-content"> <a class="usa-footer-primary-link" href="#" target="_blank">Whitehouse.gov</a></li>           
            </ul>
        </nav>
    </div>
</div>
<div class="usa-footer-secondary_section">
    <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
            <a href="#"><img src="/boss/img/US-FS-LOGO.jpg" alt="USDA" align="left" class='usda-logo'> </a>
        </div>
        <div class="usa-footer-logo usa-width-one-half ">
            <h3 class="usdafooter">USDA Forest Service</h3>
            <p class="usdaaddress">1400 Independence Ave. SW</p>
            <p class="usdaaddress">Washington, DC, 20250-1111</p>
            <p class="usdaaddress">(800)832-1355</p>
        </div>
    </div>
</div>