
    <div class="sidebar-header">
        <a class="noUline" href="./hrDash">DASHBOARD</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#employees" data-toggle="collapse" aria-expanded="false">Employees</a>
            <ul class="collapse list-unstyled" id="employees">
                <li><a href="/viewAllEmployees">View All Employees</a></li>
                <li><a href="/addNewEmployee">Add New Employee</a></li>
            </ul>
        </li>
        <li>
            <a href="#training" data-toggle="collapse" aria-expanded="false">Training</a>
            <ul class="collapse list-unstyled" id="training">
                <li><a href="#">Add Training by Employee</a></li>
                <li><a href="#">Add Training by Class</a></li>
                <li><a href="#">Assign Training</a></li>
                <li><a href="#">Training Due Next 6 Months</a></li>
            </ul>
        </li>
        <li>
            <a href="#dra" data-toggle="collapse" aria-expanded="false">DRA's</a>
            <ul class="collapse list-unstyled" id="dra">
                <li><a href="#">Add DRA by Employee</a></li>
                <li><a href="#">Assign DRA's</a></li>
                <li><a href="#">DRA Tasks</a></li>
            </ul>
        </li>
        <li>
            <a href="#checkIn">Check In Check Out</a>
        </li>

    </ul>



    <!-- Are Safety Skill Sets still needed????
    employee View
    phone
    contact email
    confidentiality -->
