
    <div class="sidebar-header">
        <a class="noUline" href="./budgetDash">DASHBOARD</a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#expenseSub" data-toggle="collapse" aria-expanded="false">Expenses</a>
            <ul class="collapse list-unstyled" id="expenseSub">
                <li><a href="./newExpense">New Expense</a></li>
                <li><a href="./viewExpense">View Expenses</a></li>
            </ul>
        </li>
        <li>
            <a href="#budgetSub" data-toggle="collapse" aria-expanded="false">Budget</a>
            <ul class="collapse list-unstyled" id="budgetSub">
                <li><a href="./budgetSummary">Budget Summary</a></li>
                <li><a href="./jobCodes">Job Code Mgmt</a></li>
                <li><a href="./unverifiedReport">Verification Report</a></li>
            </ul>
        </li>
        <li>
            <a href="#payrollSub" data-toggle="collapse" aria-expanded="false">Payroll</a>
            <ul class="collapse list-unstyled" id="payrollSub">
                <li><a href="./payrollForecast">Payroll Forecast</a></li>
                <li><a href="./payrollDetails">Employee Payroll Forecast</a></li>
                <li><a href="./newSalary">New Salary</a></li>
                <li><a href="#">Enter Paycheck8</a></li>
            </ul>
        </li>

    </ul>
