
    <div class="sidebar-header">DASHBOARD</div>
    <ul class="list-unstyled components">
        <li>
            <a href="#expenseSub" data-toggle="collapse" aria-expanded="false">Expenses</a>
            <ul class="collapse list-unstyled" id="expenseSub">
                <li><a href="./newExpense.html">New Expense</a></li>
                <li><a href="./viewExpense.html">View Expenses</a></li>
            </ul>
        </li>
        <li>
            <a href="#budgetSub" data-toggle="collapse" aria-expanded="false">Budget</a>
            <ul class="collapse list-unstyled" id="budgetSub">
                <li><a href="./budgetSummary.html">Budget Summary</a></li>
                <li><a href="./jobCodes.html">Job Code Mgmt</a></li>
            </ul>
        </li>
        <li>
            <a href="#payrollSub" data-toggle="collapse" aria-expanded="false">Payroll</a>
            <ul class="collapse list-unstyled" id="payrollSub">
                <li><a href="#">Payroll Forecast</a></li>
                <li><a href="./payrollDetails.html">Payroll Details</a></li>
                <li><a href="./newSalary.html">New Salary</a></li>
                <li><a href="#">Enter Paycheck8</a></li>
            </ul>
        </li>
        <li>
            <a href="#reportsSub" data-toggle="collapse" aria-expanded="false">Reports</a>
            <ul class="collapse list-unstyled" id="reportsSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
        <li>
            <a href="#userSub" data-toggle="collapse" aria-expanded="false">User Management</a>
            <ul class="collapse list-unstyled" id="userSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
    </ul>
