
    <div class="sidebar-header">DASHBOARD</div>
    <ul class="list-unstyled components">
        <li>
            <a href="#expenseSub" data-toggle="collapse" aria-expanded="false">Expenses</a>
            <ul class="collapse list-unstyled" id="expenseSub">
                <li><a href="./newExpense.html">New Expense</a></li>
                <li><a href="./viewExpense.html">View Expense</a></li>
                <li><a href="./lookupExpense.html">Lookup Expense</a></li>
            </ul>
        </li>
        <li>
            <a href="#budgetSub" data-toggle="collapse" aria-expanded="false">Budget</a>
            <ul class="collapse list-unstyled" id="budgetSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
        <li>
            <a href="#payrollSub" data-toggle="collapse" aria-expanded="false">Payroll</a>
            <ul class="collapse list-unstyled" id="payrollSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
        <li>
            <a href="#reportsSub" data-toggle="collapse" aria-expanded="false">Reports</a>
            <ul class="collapse list-unstyled" id="reportsSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
        <li>
            <a href="#userSub" data-toggle="collapse" aria-expanded="false">User Management</a>
            <ul class="collapse list-unstyled" id="userSub">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
        </li>
    </ul>
