
.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
}
.usa-grid{
    padding: 0px;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #006633;
    font-family: lightFont;
    padding-bottom: 10px;
}

input[type=search] {
    padding: 0px 10px;
    font-size: 1.2em;
}
.content-div{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div{
    margin-top: 50px !important;
}
td, th{
    text-align: center;
}
#jobCodes_info, #jobCodes_paginate, #jobCodes_filter, #jobCodes_length{
    padding: 20px 20px;
}
#jobCodes_filter{
    position: absolute;
    top: -85px;
    right: 10px;
}
.title2{
    padding: 20px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #006633;
}

.usa-section1{
    padding-top: 0px !important;
    width: 100%;
}
#jobCodes{
    margin-top: 40px;
}
#jobCodes_wrapper > div.dt-buttons{
    position: absolute;
    top: -95px;
    right: 10px;
}
.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
#jobCodes_filter > label{
    font-size: 1.5em;
}
.hide {
    display: none;
}
#jobCodes_filter{
    padding: 20px 20px 0px 20px;
}




.my-input-class{
    text-align: center;
    border-radius: 3px;
}
.my-confirm-class{
    color: white;
    background-color: #006633;
    border-radius: 3px;
    font-size: .7em;
    padding: 3px;
}
.my-confirm-class:hover{
    color: white;
    background-color: #1c8551;
}
.my-cancel-class{
    color: white;
    background-color: red;
    border-radius: 3px;
    font-size: .7em;
    padding: 3px;
}
.my-cancel-class:hover{
    color: white;
    background-color: rgb(254, 60, 60);
}
.inputCell{
    border: .5px solid rgba(33, 33, 33, .2);
    border-radius: 3px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 3.0em;
    color: white;
}
#myModal > div > div > div.modal-header > button{
    display: none;
}
.modal-header{
    background-color: #006633;
    padding: 20px;
}
.modal-body{
    padding: 0px 25px 25px 25px;
}
.modall{
    font-size: 1.3em;
}
.modal-footer{
    justify-content: center;
}
.btn-info{
    color: #006633;
    background-color: transparent;
    border: none;
}
.modal-content{
    padding: 0px !important;
}
#myModal > div > div > div.modal-footer > button.btn.btn-default {
    float: left;
    color: #006633;
    background-color: white;
    border-color: #006633;
}
.headSearch{
    width: 100%;
    text-align: center;
    font-size: .9em;
}