@charset "UTF-8";
/* U.S. Forest Service - Dawn's added CSS Document  2017*/


#grad1 {
  height: 200px;
  background: #006633; /* For browsers that do not support gradients */
  background: linear-gradient(#006633, #474747); /* Standard syntax (must be last) */
}


.searchform div {
  height: 26px;
  width: 200px;
}

.searchboxwrapper {
  position: relative;
  float: right;
}

.searchbox {
  border: 1px solid #dadada;
  outline: none;
  font: 11px 'Montserrat', sans-serif;
  color: #777;
  width: 182px;
  height: 26px;
  background: #fff;
  padding-left: 10px;
}

.searchsubmit {
  font-family: 'FontAwesome';
  width: 29px;
  height: 29px;
  border: 1px solid #dadada;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  background: #dadada;
  border: none;
  color: #5d3250;
  cursor: hand; cursor: pointer;
}

/*Dawns new table design*/

.usa-table-card {
  border-radius: 5px 5px 0px 0px;
  border: 1px  solid #999;
  margin: 0px;
  margin-top:50px;
  text-align: left;
  -webkit-font-smoothing: auto;
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  font-weight: bolder;
  padding: 1.5rem 0rem 0rem 0rem;

  width: 100%;
  box-shadow:none;
}

.usa-table-card-dark {
  border-radius: 5px 5px 0px 0px;
  border: 1px  solid #999;
  margin: 0px;
  margin-top:50px;
  text-align: left;
  -webkit-font-smoothing: auto;
  background-color: #006633;
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
  box-shadow:none;
}

.usa-table-card-title {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 2rem;
  border-bottom: 3px solid #006633

}

.usa-table-card-title-dark {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 2rem;
  border-bottom: 3px solid #ffcc33;

}

.usa-bannerbox-green-banner {
  background-color: #474747;
  color: #ffffff;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  text-transform: uppercase;
  display: inline-block;
  height: 40px;
  padding-top:10px;
  padding-bottom: 0px;
}


.usa-label-green {
  background-color: #006633;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;


}

.usa-label-medgreen {
  background-color: #489a71;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;


}
.usa-label-lgtgreen {
  background-color: #8ab29e;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;
  font-weight: 900;


}



.usa-label-grey {
  background-color: #474747;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;


}


.usa-label-blue {
  background-color: #003366;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;

}

.usa-label-medblue {
  background-color: #336699;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;


}

.usa-label-lgtblue {
  background-color: #6699cc;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;


}


.usa-label-orange {
  background-color: #eb9323;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;


}

.usa-label-warmorange {
  background-color: #d95e14;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;


}

.usa-label-yellow {
  background-color: #ffcc33;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-transform: uppercase;


}

.usa-banner-usda {
  font-size: 1.7rem;
  padding-bottom:0.5rem;
  padding-top: 0.50em;
  background-color:#006633;
  color: #f1f1f1;
}

.usa-logo-text-tagline {
  font-size: 1.4rem;
  color: #006633;
  display: block;
  height: inherit;
  height:45px;
  margin-top: -20px;
  padding-top: -20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2.25px;

}

.usa-logo-width {
  width: 200%;
}

.usa-logo-box {
  height: 65px;
  border-bottom: 2px solid #666666;
}

.usa-logo-img {
  float: left;
  height:20px;
}

.usa-logo-text-box {
  float: none;
  padding-top: 2rem;
  padding-left: 1rem;

}

.usfs-text {
  font-size: .50em;
  display: inherit;
  padding-left: 4.5rem;
  line-height: 1.8rem;
  letter-spacing: 2.25px;
}

.caring-text {
  font-size: .25em;
  display: inherit;
  padding-left: 4.5rem;
  color: #006633;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.usa-main-title {
  font-size: 1em;
  margin-top:-10px;
}


/* FS style tabs 1 Kim */

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color:#8F8D8D;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li:hover {
  background-color: #ededed;
  border-bottom:2px solid#ededed;
  border-top: 3px solid #555;
  color: #555;
  font-weight: bold;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  border-radius: 5px 5px 0px 0px;
}

li {
  line-height: 1.5;
  margin-bottom: 0rem;
}

ul.tabs li.current {
  background: #ededed;
  color: #555;
  font-weight: bold;
  border-top: 3px solid #006633;
  border-bottom:2px solid #ededed;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  padding: 10px 20px 10px 20px;
  border-radius: 5px 5px 0px 0px;
}


.tab-content{
  display: none;
  background: #ededed;
  padding: 25px;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  border-radius: 5px;
}

.tab-content.current{
  display: inherit;
}
xmp{
  font-size: 12px;
}
input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 5px;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}
textarea{
  border-radius:5px;
}
h2{
  color:#006633;
}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  font-family: "Roboto";
  font-size: 1.7rem;
  color:#006633;
}
/*FS style tabs 1 Kim end */
/* FS style tabs 2 Kim */

ul.tabs2{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs2 li{
  background: none;
  color:#8F8D8D;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs2 li:hover {
  background-color: #ededed;
  border-bottom:2px solid#ededed;
  border-top: 3px solid #555;
  color: #555;
  font-weight: bold;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  border-radius: 5px 5px 0px 0px;
}

li {
  line-height: 1.5;
  margin-bottom: 0rem;
}

ul.tabs2 li.current {
  background: #FFFFFF;
  color: #555;
  font-weight: bold;
  border-top: 3px solid #006633;
  border-bottom:2px solid #FFFFFF;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  padding: 10px 20px 10px 20px;
  border-radius: 5px 5px 0px 0px;
}


.tabs2-content{
  display: none;
  background: #FFFFFF;
  padding: 25px;
  border-left: 2px solid #dddddd;
  border-Right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  border-radius: 5px;
}

.tabs2-content.current{
  display: inherit;
}
xmp{
  font-size: 12px;
}
input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 5px;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}
textarea{
  border-radius:5px;
}
h2{
  color:#006633;
}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  font-family: "Roboto";
  font-size: 1.7rem;
  color:#006633;
}
/*FS style tabs 2 Kim end */

/* New Tabs FS Dawn style

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sectiontabs {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}


.inputtabs {
  display: none;
}

.labeltabs {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
    border-radius: 3px;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
    background-color: #eeeeee;;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 3px solid #006633;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
*/
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }


  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
