.usa-section {
    padding: 1rem;
    width: 100%;
    min-height: 80vh;
}
.usa-grid{
    padding: 0px;
}
.breadcrumbLinkMain{
    color: #39679b !important;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    padding-left: 30px;
    font-family: lightFont;
    padding-bottom: 10px;
}

.bannerImg{
    min-width: 100%;
}

.nav-item a{
    font-size: 1.5em;
    color: rgb(36, 36, 36);
}
.nav-tabs .nav-link.active{
    border-color: #ddd #ddd #fff;
    border-top-color: #39679b;
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(221, 221, 221);
    color: #39679b !important;
}
.nav-tabs .nav-link{
    border: 3px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.481);
}

label{
    font-size: 1.3em;
}
input, select{
    font-size: 1.4em !important;
}
.bdayLabel{
    font-size: 1.5em;
    position: relative;
    top: 54px;
    left: 10px;
}
#bdate, #byear{
    margin-top: 15px;
}

#submitGen{
    margin-top: 50px;
    margin-left: 30px;
}
.reqClass{
    color: red;
}
.btn-success{
    background-color: #39679b;
    border-color: #39679b;
}

.title4{
    margin-top: 30px;
    border-bottom: 1px solid #39679b;
    padding-bottom: 10px;
    font-size: 1.7em;
    color: #39679b;
}
.title3{
    margin-top: 30px;
    font-size: 2.2em;
}
.title-div{
    margin-top: 50px !important;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f067';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.00)
}
.trainBG{
    border: 1px solid rgba(106, 106, 106, 0.981);
    background-color: #b7c6f252;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(106, 106, 106, 0.981);
}
#submitEC, #submitV, #viewReports{
    width: 50%;
    height: 30%;
    font-size: 2.0em !important;
    margin: 50px auto;

}