
.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
}
.usa-grid{
    padding: 0px;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #006633;
    font-family: lightFont;
    padding-bottom: 10px;
}

input[type=search] {
    padding: 0px 10px;
    font-size: 1.2em;
}
.content-div{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div{
    margin-top: 50px !important;
}
td, th{
    text-align: center;
}
#jobCodes_info, #jobCodes_paginate, #jobCodes_filter, #jobCodes_length{
    padding: 20px 20px;
}
#jobCodes_filter{
    position: absolute;
    top: -85px;
    right: 10px;
}
.title2{
    padding: 20px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #006633;
}

.usa-section1{
    padding-top: 0px !important;
    width: 100%;
}

#jobCodes_wrapper > div.dt-buttons{
    position: absolute;
    top: -75px;
    right: 10px;
}
.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-file-excel-o{
    color: rgb(102, 0, 175);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
#jobCodes_filter > label{
    font-size: 1.5em;
}
.hide {
    display: none;
}
#jobCodes_filter{
    padding: 20px 20px 0px 20px;
}
.alert{
    font-size: 1.8em;
}





.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 3.0em;
    color: white;
}
#myModal > div > div > div.modal-header > button{
    display: none;
}
.modal-header{
    background-color: #006633;
    padding: 20px;
}
.modal-body{
    padding: 25px 25px 25px 25px;
}
.modall{
    font-size: 1.3em;
}
.modal-footer{
    justify-content: center;
}
.btn-info{
    color: #006633;
    background-color: transparent;
    border: none;
}
.modal-content{
    padding: 0px !important;
}
#myModal > div > div > div.modal-footer > button.btn.btn-default {
    float: left;
    color: #006633;
    background-color: white;
    border-color: #006633;
}
.headSearch{
    width: 100%;
    text-align: center;
    font-size: .9em;
}


button.close{
    display: none;
}
.modal-title{
    margin: auto;
}
.deleteCon {
    font-size: 2.0em;
    text-align: center;
}
.btn-default{
    color: #006633;
    background-color: white;
    border-color: #006633;
}

.fyLab{
    margin-top: 0px;
    font-size: 1.2em;
    font-weight: 700;
}
.fiscalyearDiv{
    padding-left: 30px;
}
.alert{
    display: none;
}
.fyLabel{
    font-size: 1.6em;
    margin-top: 5px;
}
.headLabel{
    margin-top: 4px !important;
}


#fySelect {
    font-size: 1.5em;
    line-height: 1.5;
    height: 35px;
    text-align-last: center;
    padding-right: 29px;
    border: 1px solid #ababab;
    border-radius: 3px;
}

.topRow{
    padding-bottom: 15px;
}
thead{
    background-color: #d5ffd5;
}
table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    position: absolute;
    color: #ababab;
    top: 40px;
    right: 0px;
    display: block;
    font-family: FontAwesome;
}
#deleteModal > div > div > div.modal-header{
    background-color: red;
}