
.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
}
.usa-grid{
    padding: 0px;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #006633;
    font-family: lightFont;
    padding-bottom: 10px;
}

input[type=search] {
    padding: 0px 10px;
    font-size: 1.2em;
}
.content-div{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div{
    margin-top: 50px !important;
}
td, th{
    text-align: center;
}
#budget_info, #budget_paginate, #budget_filter, #budget_length{
    padding: 20px 20px;
}
#budget_filter{
    position: absolute;
    top: -85px;
    right: 10px;
}
.title2{
    padding: 20px;
    margin-bottom: 0px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #006633;
}

.usa-section1{
    padding-top: 0px !important;
    width: 100%;
}

#budget_wrapper > div.dt-buttons{
    position: absolute;
    top: -55px;
    right: 10px;
}
.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
#budget_filter > label{
    font-size: 1.5em;
}
#showHide{
    visibility: hidden;
}
thead{
    background-color: #d5ffd5;
}
table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    position: absolute;
    color: #ababab;
    top: 25px;
    right: 0px;
    display: block;
    font-family: FontAwesome;
}
.headSearch {
    width: 100%;
    text-align: center;
    font-size: .9em;
}

.header th{
    padding-top: 60px;
 }
 .headLabel{
     margin-top: 0px;
 }
 form [type=submit] {
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}
.reqClass{
    color: red;
}
.btn-success{
    background-color: #006633;
    border-color: #006633;
}
.serLabel{
    font-size: 1.2em;
}
.form-control{
    font-size: 1.3em;
}

#myModal > div > div{
    padding: 0px !important;
}
#myModal > div > div > div.modal-header{
    background-color: #006633;
    min-height: 50px;
}
.close{
    display: none;
}
#myModal > div > div > div.modal-body{
    min-height: 180px;
}
#myModal > div > div > div.modal-body > div > h4{
    margin: auto;
    font-size: 2.0em;
    padding-top: 80px;
}
.modal-title{
    margin: auto;
    color: white;
    font-size: 2.5em;
}