/* GENERAL STYLES */
@font-face {
    font-family: mainFont;
    src: url("/boss/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: lightFont;
    src: url("/boss/fonts/Roboto-Light.ttf");
}
*{
    font-family: mainFont;
}
*:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* ---------------------------------------------------------------------START OF HEADER STYLES------------------------------------------------------------ */
.usa-nav-primary a:hover{
    color: rgb(56, 56, 56);
}
a:visited{
    color: #004121;
}
.usa-nav{
    z-index: 1000 !important;
}
.usa-nav-link:hover span {
    border-bottom: 3px solid #006633;
    padding-bottom: 1rem
}
.bannerImg{
    min-width: 100%;
}
a.active span{
    border-bottom: 2px solid #006633;
    padding-bottom: 1rem
}
.fa.fa-bars{
    margin-right: 10px;
}

#smallPageTitle{
    font-size: .5em;
    font-style: italic;
    font-weight: 400;
}
#menuOpen{
    color: #006633;
}
.fa.fa-bars{
    margin-right: 10px;
}
#pageTitle{
    color: rgb(56, 56, 56);
    font-size: 1.1em;
}
#pageTitle a {
    text-decoration: none;
}
#gov-banner p{
    color: white !important;
}
/* ---------------------------------------------------------------------END OF HEADER STYLES------------------------------------------------------------ */




/* ---------------------------------------------------------------------START OF FOOTER STYLES------------------------------------------------------------ */
.usa-footer-primary-section{
    padding: 0px !important;
}

.usdafooter{
    text-align: right;
    color: rgb(5, 65, 23);
}
.usa-footer .usa-footer-primary-link{
    font-size: 1.5em;
}
.usdaaddress{
    text-align: right;
}
.usa-footer-secondary_section{
    background-color: white;
}
.usa-footer-primary-section{
    background-color: #777777;
}
.usa-footer-primary-link{
    color: white !important;
}
.usa-footer-primary-content{
    float: left;
    position: relative;
    text-align: center;
}
.usa-unstyled-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.usa-footer-medium .usa-footer-primary-section .usa-footer-primary-content {
    margin: auto !important;
    width: 20% !important;
}
.usdafooter{
    text-align: right;
    color: rgb(5, 65, 23);
}
.usdaaddress{
    text-align: right;
    font-size: 1.5em;
    margin: 1rem 0rem;
}
.usa-footer-secondary_section{
    background-color: white;
}
.usa-footer-primary-section{
    background-color: #777777;
}
.usa-footer-primary-link{
    color: white !important;
}
.usa-footer-primary-content{
    float: left;
    position: relative;
    text-align: center;
}
.usa-unstyled-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.usa-footer-medium .usa-footer-primary-section .usa-footer-primary-content {
    margin: auto !important;
    width: 20% !important;
}
@media screen and (min-width: 600px){
    .usa-footer-primary-section .usa-grid-full {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}
/* ---------------------------------------------------------------------END OF FOOTER STYLES------------------------------------------------------------ */




/* ---------------------------------------------------------------------START OF SIDENAV STYLES------------------------------------------------------------ */
.wrapper {
    display: flex;
}
a.noUline{
    text-decoration: none;
}
#sidebar {
    min-width: 20%;
    max-width: 20%;
    min-height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(43, 43, 43);
    transition: all 0.5s;
    box-shadow: 2px 0px 15px -2px rgba(73, 73, 73, 0.5); 
}

#sidebar.active {
    margin-left: -20%;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f067';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.8em;
}

a[aria-expanded="true"]::before {
    content: '\f068';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.8em;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 15px 20px 15px 55px;
    background: #f9f9f9;
    font-size: 1.6em;
    font-weight: 600;
    border-bottom: .5px solid #096d3b8f;
}
#sidebar ul.components {
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    outline: none !important;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li{
    padding-left: 45px;
}
#sidebar ul ul li{
    padding-left: 0px;
}
#sidebar ul li a {
    padding: 5px;
    margin-left: 12px;
    font-size: 1.5em;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: rgb(121, 121, 121);
    outline: none !important;
}
#sidebar ul li a:hover {
    color: rgb(56, 56, 56);
    background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(92, 92, 92);
    background: #ffffff;
}
ul ul a {
    font-size: 1.2em !important;
    padding-left: 30px !important;
    background: #ffffff;
    list-style-type: none !important;
}
.hidden{
    display: none !important;
}
/* ---------------------------------------------------------------------END OF SIDENAV STYLES------------------------------------------------------------ */


/* ---------------------------------------------------------------------START OF BREADCRUMB STYLES------------------------------------------------------------ */
.breadcrumb{
    background-color: white;
    padding-right: 20px;
}
.breadcrumbLink{
    color: rgb(33, 33, 33) !important;
}
.breadcrumbLinkMain{
    color: #006633 !important;
}
.highlight{
    color: black !important;
    font-size: 1.1em;
}

/* start of media queries */
@media screen and (max-width: 600px){
    #mainHeading > div.usa-banner > div > header > div > button{
        display: none !important;
    }
    #mainHeading > div.usa-banner > div > header > div > button > span{
        display: none !important;
    }
    #smallPageTitle{
        display: none !important;
    }
    .title{
        font-size: 3.0em !important;
        padding-top: 15px;
    }
    .usa-footer-primary-section .usa-footer-primary-content {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .footerLinks{
        font-size: .5em !important;
    }
    #mainFooter > div.usa-footer-secondary_section > div > div:nth-child(2){
        display: inline-block;
        font-size: 0.8em;
    }
    .card{
        margin-top: 30px;
    }

}

/* table drop downs */

.dropbtn1 {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(58, 58, 58);
    padding: 5px !important;
    font-size: 16px;
    border: none;
    z-index: 0;
    position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    display: inline-block;
    margin-top: 0px !important;
    z-index: 0 !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    right: -30px;
    background-color: #505050;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000 !important;
}

/* Links inside the dropdown */
.dropdown-content1 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
    background-color: rgb(255, 255, 255);
    color: #505050;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {background-color: #3e8e41;}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 0px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.dt-button{
    color: black;
}
.dt-button:hover{
    color: rgb(80, 80, 80) !important;
}

