.col {
    padding: 15px;
}
.tile {
    position: relative;
    background-size: cover;
    border-radius: 35px;
    border: 2px solid white;
    padding: 0;
    display: block;
}
.tile .dummy {
    margin-top: 100%;
}
.tile .tile-title {
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    padding: 1em;
    background-color: #555b;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}
.tile.empCheckOut {
    background-image: url('/img/crewBG.jpg');
    border-color: #f0ac4e;
}
.tile.empCheckOut .tile-title {
    background-color: #f0ac4ecc;
}
.tile.empVehicle {
    background-image: url('/img/propBG.jpg');
    border-color: #0275d8;
}
.tile.empVehicle .tile-title {
    background-color: #0275d8cc;
}
.tile.empTraining {
    background-image: url('/img/hrBG.jpg');
    border-color: #d9534f;
}
.tile.empTraining .tile-title {
    background-color: #d9534fcc;
}
.tile.empInfo {
    background-image: url('/img/empBG.jpg');
    border-color: #5cb85c;
}
.tile.empInfo .tile-title {
    background-color: #5cb85ccc;
}

section.bgImg {
    min-width: 100%;
    padding: 5%;
    background-image: url('/img/empPortal.jpg');
    background-size: cover;
}

span.bubble {
    border-radius: .25em;
    background-color: #0275d8cc;
    color: white;
    padding: .25em;
}