@font-face {
    font-family: titleFont;
    src: url("../../fonts/Roboto-Regular.ttf");
}
.usa-nav{
    display: none;
}
#background{
    background-image: url("../../img/homeBG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#bigFSLOGO{
    max-width: 70px;
    max-height: 70px;
}
.title{
    display: inline-block;
    color: white;
    font-family: titleFont !important;
    font-size: 6em;
    font-weight: 100;
    vertical-align: middle;
    margin-left: 20px;
}
.mainTitleDiv{
    padding-top: 75px;
}
.cardsDiv{
    margin-top: 75px;
    padding-bottom: 75px;
}
.card-text {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
}
a{
    text-decoration: none;
    color: rgb(92, 92, 92);
}
a:visited{
    color: rgb(92, 92, 92);
}
.dashboard > a{
    color: #006633;
    text-decoration: none !important;
}
.card-text.dashboard{
    text-decoration: none;
}
.card-body{
    min-height: 230px;
}
.card-block{
    padding: 0px;
}
.card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 3.5em;
    text-align: left;
}
.card-footer{
    background-color: rgb(230, 230, 230);
    padding: 15px;
}
.card-image-top{
    height: 200px;
    width: 100%;
}
.card-header{
    padding: 0px !important;
    position: relative;
}
.card-tbody{
    display: none;
}
.card-tbody.show{
    display: block;
    height: 260px;
}
.card{
    margin-top: 25px;
}

@media screen and (min-width: 990px) and (max-width: 1400px){
    .card-title {
        position: absolute;
        top: 10px;
        left: 5px;
        color: white;
        font-size: 2.5em;
        text-align: left;
    }
}
.fa-superpowers{
    color: red;
    font-size: 3.0em;
    text-shadow: 3px 5px 10px black;
}