.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
    margin-bottom: 120px;
}
.usa-grid{
    padding: 0px;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #39679b;
    font-family: lightFont;
    padding-bottom: 10px;
}

.content-div{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div{
    margin-top: 50px !important;
}

.usa-section1{
    padding-top: 0px !important;
    width: 100%;
    background-color: rgba(193, 193, 193, 0.02);
}
#budget{
    margin-top: 40px;
}

.chartHolder{
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.qlinks{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 5px;
    height: 366px;
    padding: 15px;
    text-align: center;
    box-shadow: 3px 5px 15px rgba(33, 33, 33, .2);
}

.quickLinks{
    padding: 10px;
    font-size: 1.3em;
}
.titleq {
    font-size: 1.8em;
    border-bottom: 2px solid #ff6200;
    padding: 15px;
}
.card-header-title{
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 10px rgba(33, 33, 33, .2);
}
.card-header{
    padding: 0px;
}
.padTop{
    margin-top: 50px;
}
.card{
    box-shadow: 5px 10px 15px rgba(33,33,33,0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.card-body{
    min-height: 180px;
}
.list-group-item{
    height: 40px;
    font-size: 1.4em;
}
.list-group-item > a{
    color: #39679b;
}

