.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
    margin-bottom: 120px;
}
.usa-grid{
    padding: 0px;
}
.usa-section1{
    padding-top: 0px !important;
    width: 100%;
    background-color: rgba(193, 193, 193, 0.02);
}
.usa-grid{
    min-width: 90%;
    max-width: 100%;
}
.container{
    min-width: 90%;
    max-width: 100%;
}

.breadcrumbLinkMain{
    color: #39679b !important;
}
.bannerImg{
    min-width: 100%;
}

.nav-item a{
    font-size: 1.5em;
    color: rgb(36, 36, 36);
}
.nav-tabs .nav-link.active{
    border-color: #ddd #ddd #fff;
    border-top-color: #39679b;
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(221, 221, 221);
    color: #39679b !important;
}
.nav-tabs .nav-link{
    border: 3px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.481);
}
hr.break{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
label{
    font-size: 1.3em;
}
input, select{
    font-size: 1.4em !important;
}
#submitGen{
    margin-top: 50px;
    margin-left: 30px;
}
.reqClass{
    color: red;
}
.btn-success{
    background-color: #39679b;
    border-color: #39679b;
}
.title-div {
    margin-top: 50px !important;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #39679b;
    font-family: lightFont;
    padding-bottom: 10px;
}
.title2{
    padding: 20px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #39679b;
    margin-bottom: 0px;
}
.title3{
    margin-top: 30px;
    font-size: 2.2em;
    border-bottom: 1px solid #39679b;
}
.title4{
    margin-top: 30px;
    border-bottom: 1px solid #39679b;
    padding-bottom: 10px;
    font-size: 1.7em;
    color: #39679b;
}
.title5{
    margin-top: 30px;
    font-size: 2.0em;
    border-bottom: 1px solid #39679b;
}
.noUline{
    color: #39679b !important;
}

.alert {
    font-size: 1.8em;
    display: none;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f067';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.8em;
}
.trainBG{
    border: 1px solid rgba(106, 106, 106, 0.981);
    background-color: #b7c6f252;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(106, 106, 106, 0.981);
}
#submitEC, #submitV, #viewReports{
    width: 50%;
    height: 30%;
    font-size: 2.0em !important;
    margin: 50px auto;
}
hr:after {
    font-family: FontAwesome;
    content: '\f01a';
    color: #999;
    display: none;
    background-color: #fff;
    padding: 0 .5em;
}

.content-div {
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.usa-section1 {
    padding-top: 0px !important;
    width: 100%;
    background-color: rgba(193, 193, 193, 0.02);
}
.card {
    box-shadow: 5px 10px 15px rgba(33,33,33,0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.hide {
    display: none;
}
.alert{
    font-size: 1.8em;
}

.modal {
    font-size: 15px;
}

/* view all training table css */
#tblTraining_filter, #tblTraining_paginate, #tblTraining_filter, #tblTraining_length, #tblTraining_info{
    padding: 20px 20px;
}
#tblTraining_filter{
    position: absolute;
    top: -75px;
    left: 10px;
    padding: 0px;
}
#tblTraining_filter > label{
    font-size: 1.5em;
}
#tblTraining_wrapper > div.dt-buttons{
    position: absolute;
    top: -115px;
    right: 10px;
}
/* view all dra table css */
#allDrasCourses_filter, #allDrasCourses_paginate, #allDrasCourses_length, #allDrasCourses_info, #tblDras_filter, #tblDras_paginate, #tblDras_length, #tblDras_info{
    padding: 20px 20px;
}
#allDrasCourses_filter, #tblDras_filter{
    position: absolute;
    top: -75px;
    left: 10px;
    padding: 0px;
}
#allDrasCourses_filter > label, #tblDras_filter > label{
    font-size: 1.5em;
}
#allDrasCourses_wrapper > div.dt-buttons, #tblDras_wrapper > div.dt-buttons {
    position: absolute;
    top: -115px;
    right: 10px;
}

td, th{
    text-align: center;
}

.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-file-excel-o{
    color: rgb(102, 0, 175);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
.viewLabel{
    font-size: 1.0em !important;
    margin-top: 0px !important;
}
.form-check{
    min-height: 50px;
}

/* record employee training */
.btn_pers_copy{
    background-color: #39679b;
    font-size: 1.2em;
}
.btn_pers_copy:hover{
    background-color: rgb(45, 137, 160)
}

.btn_pers_remove, .btn_pers_remove:hover {
    background-color: white;
    color: rgb(199, 13, 13);
    border: 1px solid rgb(199, 13, 13);
    font-size: 1.2em;
}

/* edit emp info */
.border{
    padding: 20px;
    border-color: rgba(255, 255, 255, 0.481);
    background-color: white;
}
.faded{
    background-color: rgba(255, 255, 255, 0.481);
    border-radius: 7px;
    border-color: rgba(255, 255, 255, 0.481);
}
.bannerImg{
    min-width: 100%;
}
/* all employees table */
#allEmployees_wrapper > div.dt-buttons{
    position: absolute;
    top: -115px;
    right: 10px;
}
#myModal_delete > div > div > div.modal-body{
    height: 200px;
    font-size: 1.5em;
}

#allEmployees_filter > label{
    font-size: 1.5em;
}
.hide {
    display: none;
}
#allEmployees_filter{
    padding: 20px 20px 0px 20px;
}
#allEmployees_info, #allEmployees_paginate, #allEmployees_filter, #allEmployees_length{
    padding: 20px 20px;
}
#allEmployees_filter{
    position: absolute;
    top: -75px;
    left: 10px;
    padding: 0px;
}
/* training courses table */
#tblCourse_filter, #tblCourse_paginate, #tblCourse_length, #tblCourse_info{
    padding: 20px 20px;
}
#tblCourse_filter{
    position: absolute;
    top: -75px;
    left: 10px;
    padding: 0px;
}

#tblCourse_filter > label{
    font-size: 1.5em;
}
#tblCourse_wrapper > div.dt-buttons{
    position: absolute;
    top: -115px;
    right: 10px;
}
#auxTable_wrapper > div.dt-buttons{
    position: absolute;
    top: -55px;
    right: 10px;
}
#auxTable > thead> tr > th, #auxTable > tbody > tr > td{
    border-right: 0px solid gray;
    border-left: 0px solid gray;
}
#auxTable{
    min-width: 100%;
}
#auxTable_wrapper{
    border-radius: 10px;
    /* border: 1px solid gray; */
}

#auxTable_filter, #auxTable_paginate, #auxTable_length, #auxTable_info{
    padding: 20px 20px;
}
#auxTable_filter{
    position: absolute;
    top: -75px;
    left: 10px;
    padding: 0px;
}

#auxTable_filter > label{
    font-size: 1.5em;
}
#auxTable_wrapper{
    background-color: white;
}

/* modals */
.modal-content{
    padding: 0px;
}
.modal-header{
    color: white;
    background-color: #39679b;
    text-align: center;
    font-size: 1.5em;
}
.modal-body{
    padding: 20px;
    text-align: center;
}
.modal-title{
    font-size: 2.0em;
}
.close{
    color: white;
    font-size: 1.5em;
    opacity: 1;
    margin-right: 3px;
}
.close:hover{
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: rgb(174, 174, 174);
}
.modal-footer{
    margin: auto;
}
.btn{
    font-size: 1.2em;
}
#form_edit_description{
    font-size: 1.4em;
}
#form_edit > div:nth-child(4){
    vertical-align: bottom;
}
.modalText{
    font-size: 1.2em;
}

/* dashboard styles */
.qlinks{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 5px;
    height: 366px;
    padding: 15px;
    text-align: center;
    box-shadow: 3px 5px 15px rgba(33, 33, 33, .2);
}

.quickLinks{
    padding: 10px;
    font-size: 1.3em;
}
.titleq {
    font-size: 1.8em;
    border-bottom: 2px solid #ff6200;
    padding: 15px;
}
.card-header-title{
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 10px rgba(33, 33, 33, .2);
}
.card-header{
    padding: 0px;
}
.padTop{
    margin-top: 50px;
}
.btnPrint{
    color: white !important;
    font-size: .8em !important;
}
.card{
    box-shadow: 5px 10px 15px rgba(33,33,33,0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.card-body{
    min-height: 180px;
}
.list-group-item{
    height: 40px;
    font-size: 1.4em;
}
.list-group-item > a{
    color: #39679b;
}

#btn_add_aux{
    margin: auto;
    margin-top: 40px;
    font-size: 1.4em;
}

#form_training_upload, #form_training_renew, #form_add, #form_edit{
    font-size: 12px !important;
}
#form_training_upload_file{
    font-size: 12px !important;
}
.modal-title{
    font-size: 26px !important; 
    text-align: center;
}
#myModal_contact > div > div > div.modal-body{
    font-size: 12px !important;
}
.contactClass{
    font-size: 1.3em;
    margin-top: 25px;
    border-bottom: 1px solid #39679b;
    padding-bottom: 5px;
}
#myModal_contact > div > div > div.modal-body > label{
    margin-top: 3px !important;
}
#form_add_description{
    font-size: 1.4em;
}

#myModal_print > div > div > div.modal-body > div > div > div > label{
    font-size: .9em !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#EmployeePrintTable_wrapper > div.dt-buttons{
    position: absolute;
    top: -55px;
    right: 10px;
}
#EmployeePrintTable > thead> tr > th, #EmployeePrintTable > tbody > tr > td{
    border-right: 0px solid gray;
    border-left: 0px solid gray;
}
#EmployeePrintTable{
    min-width: 100%;
    margin-top: 50px;
}
#EmployeePrintTable_wrapper{
    border-radius: 10px;
    /* border: 1px solid gray; */
}

#EmployeePrintTable_filter, #EmployeePrintTable_paginate, #EmployeePrintTable_length, #EmployeePrintTable_info{
    padding: 20px 20px;
}
#EmployeePrintTable_filter{
    position: absolute;
    top: -85px;
    left: 10px;
    padding: 0px;
}

#EmployeePrintTable_filter > label{
    font-size: 1.5em;
}
#EmployeePrintTable_wrapper{
    background-color: white;
}
table.dataTable.no-footer {
    border-bottom: 0px solid rgb(148, 148, 148);
}
