
.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
}
.usa-grid{
    padding: 0px;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #006633;
    font-family: lightFont;
    padding-bottom: 10px;
}

input[type=search] {
    padding: 0px 10px;
    font-size: 1.2em;
}
.content-div{
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div{
    margin-top: 50px !important;
}
td, th{
    text-align: center;
}
#payroll_info, #payroll_paginate, #payroll_filter, #payroll_length{
    padding: 20px 20px;
}
#payroll_filter{
    position: absolute;
    top: -85px;
    right: 10px;
}
.title2{
    padding: 20px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #006633;
}

.usa-section1{
    padding-top: 0px !important;
    width: 100%;
}

#payroll_wrapper > div.dt-buttons{
    position: absolute;
    top: -65px;
    right: 10px;
}
.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
#payroll_filter > label{
    font-size: 1.5em;
}


.dropbtn1 {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(58, 58, 58);
    padding: 5px !important;
    font-size: 16px;
    border: none;
    z-index: 0 !important;
}


.headSearch{
    width: 100%;
    text-align: center;
    font-size: .9em;
}
.topRow{
    padding-bottom: 15px;
}
thead{
    background-color: #d5ffd5;
}
table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    position: absolute;
    color: #ababab;
    top: 40px;
    right: 0px;
    display: block;
    font-family: FontAwesome;
}
.headLabel{
    margin-top: 0px !important
}

tfoot:not(.top-footer) {
    background-color: initial;
}
