.usa-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    padding: 0px 50px 0px 50px;
    min-height: 80vh;
    margin-bottom: 120px;
}
.usa-grid {
    padding: 0px;
}
.breadcrumbLinkMain{
    color: #39679b;
}
#title{
    font-size: 4.0em;
    font-weight: 100;
    border-bottom: 2px solid #39679b;
    font-family: lightFont;
    padding-bottom: 10px;
}


.modal-body {
    height: 700px;
    
}

.content-div {
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 8px;
    position: relative;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.title-div {
    margin-top: 50px !important;
}

.usa-section1 {
    padding-top: 0px !important;
    width: 100%;
    background-color: rgba(193, 193, 193, 0.02);
}
.card {
    box-shadow: 5px 10px 15px rgba(33,33,33,0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.title2{
    padding: 20px;
    font-family: mainFont;
    text-shadow: none;
    font-size: 2.5rem;
    border-bottom: 8px solid #39679b;
    margin-bottom: 0px;
}
#allEmployees_wrapper > div.dt-buttons{
    position: absolute;
    top: -55px;
    right: 10px;
}
.table-btns{
    background-color: white !important;
    border: none !important;
    margin: 0px 10px;
    font-size: 1.2em !important;
    background-image: none !important;
}
.fa.fa-lg{
    margin-left: 5px;
}
.fa-print{
    color: rgb(0, 175, 29);
}
.fa-file-excel-o{
    color: rgb(102, 0, 175);
}
.fa-plus{
    color: rgb(0, 152, 198);
}
.fa-repeat{
    color: rgb(254, 146, 5);
}
#allEmployees_filter > label{
    font-size: 1.5em;
}
.hide {
    display: none;
}
#allEmployees_filter{
    padding: 20px 20px 0px 20px;
}
.alert{
    font-size: 1.8em;
}
td, th{
    text-align: center;
}
#allEmployees_info, #allEmployees_paginate, #allEmployees_filter, #allEmployees_length{
    padding: 20px 20px;
}
#allEmployees_filter{
    position: absolute;
    top: -85px;
    right: 10px;
}
